
.circle{
 border-radius: 50%;  
 height: 100px;
 width:100px;
 margin: 10px 10px 10px 10px;
}

.semaforo{
    background-color: black;
    height: 350px;
    width: 135px;
    padding: 5px 15px 5px 8px;
    margin: auto;
    border-radius: 8px;
}

.cable{
    background-color: black;
    height: 100px;
    width: 15px;
    margin: auto;
}